

div{
    border: 1px solid black;
    padding: 5px;
}



@media(max-width:600px)
{
.navigation
{display:flex;
flex-wrap: wrap;
}

.heading-box
{
display:none;

}

.content
{

display:none;
}

.main
{

display:none;
}

@media(min-width:600px) and (max-width:990px)
{
.navigation
{display:flex;
flex-flow:row;
}

.heading-box
{
display:none;
}

.content
{

display:flex;
justify-content:flex-end;

flex-flow:column;

}

.main
{
display:flex;

flex-flow:column;

}

@media(min-width:990px)
{
.navigation
{display:none;
flex-direction:column-reverse;
}

.heading-box
{
display: flex;
justify-content:space-around;

}

.content
{

}

.main
{

}
